{% extends 'base.html.twig' %}

{% block body %}
        
        <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Mon profil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mes commandes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mon panier</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Me deconnecter</a>
        </li>
        </ul>
        

        <div class="mb-3">
           
            <p>Bonjour {{app.user.first_name}} {{app.user.last_name}}</p>
        </div>


{% endblock %}